extends layout

block content
  h1= title
  .game-container
  script.
    Yendor.play(document.querySelector('.game-container'), {
      game: "#{game}",
      cols: #{term.cols},
      rows: #{term.rows},
    });
  