body {
    margin-top: 30px;
}

#terminal {
    margin: 0 auto;a
}

.terminal {
    line-height: 1em;
    color: #fff;
    background: #000;
    font-family: "DejaVu Sans Mono", "Liberation Mono", monospace;
    border: 5px solid #000;
    box-sizing: content-box;
}

.terminal-cursor {
    color: #000;
    background: #f0f0f0;
}
